@charset "utf-8";

// Colors 
// TODO: Should have multiple shades of each (3?)
$purple: #BB6BD9;
$orange: #F2994A;
$green-1: #6FCF97;
$off-white-1: #f6f4f4;
$off-white-2: #F9F9FA;


// Bulma Global Vars
$primary: $purple;
$info: #F2994A;
$success: #6FCF97;
// $link: hsl(0, 0%, 4%); // same as $black
$input-background-color: transparent;
$navbar-tab-hover-border-bottom-color: $primary; // can't really tell
$navbar-tab-active-border-bottom-color: $primary; // can't really tell
$navbar-breakpoint: 760px;
$title-size: 5rem;
// $footer-padding: 4rem 1rem 2rem;

// Website Parts
.app {
    background-color: $off-white-2;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.site-prompt {
  font-size: 5rem;
}

.home-content {
    margin-top: 10%;
}

.info-content {
    margin-top: 25px;
}

.header {
    border-bottom-width: 2px; 
    border-bottom-color: $primary;
    border-bottom-style: solid;
    height: 80px;
}

.search-and-prompt {
  border: 1px solid $green-1;
  min-width: 450px;
}

.writer-panel {
  border: 2px solid $primary;
}

.writer-result {
    padding-top: 15px;
    font-size: 2em;

    &:hover,
    &:active {
      &::after {
        content: '∙';
        position: relative;
        left: 1.7%;
        top: 0.1rem;
        font-size: 3rem;
        line-height: 0%;
      } 
  }
}

.music-circle-icon {
  position: relative;
  left: 2%;
}

ul > .writer-result {
  &:nth-child(3n) { color: $purple; }
  &:nth-child(3n+1) { color: $orange; }
  &:nth-child(3n+2) { color: $green-1; }
}

ul > circle {
  fill: $purple;
}

.neighbors-listing {
  background-color: $off-white-1;
  width: 600px;
  border-block: 1px solid black;
  padding: 25px;  
}

.stat-box {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.stat-panel {
  min-width: 66.67%;
}

.divider {
  border-right: 2px solid currentColor;
  // padding-right: 25px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:last-child { 
    border-right: 0; 
    padding-right: 0;
    padding-left: 25px;
  }
}

.stat-line {
  padding-top: 10px;

}

// Shapes + Animations
// TODO: Would love to make this a "node in a graph" looking, rather than just a circle
.display-circle {
    background-color: $orange;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

// Loading Elipsis
// https://loading.io/css/
 .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--green-1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


// Bulma import at the end
@import "../../../bulma/bulma.sass";