.search-box {
    display: block;
    position: fixed;
    top: 35%; left: 40%;
}

/* the songwriter graph logo/text */
.welcome {
    position: relative;
    display: inline-flex;
    font: 48px; 
    padding-inline: 1%;
}

/* the entire header */
header {
    border-bottom-width: 2px; 
    border-bottom-color: black;
    border-bottom-style: solid;
    background-color: coral;
    }

.options {
        display: inline-flex;
        align-items :center;
    }
    
/* aka navigation */
.options > div {
        vertical-align: bottom;
        font: 1em;
        padding: 1%;
    }

.round {
    border-radius: 50%;
}