:root {
    --purple-1: #BB6BD9;
    --orange-1: #F2994A;
    --green-1: #6FCF97;
    --off-white-1: #f6f4f4; 
}

.app {
    height: 100vh;
    background-color: var(--off-white-1);
}

/* the entire header */
.header {
    font-family: "Roboto";
    /* background-color: #ffffff; */
    border-bottom-width: 2px; 
    border-bottom-color: #BB6BD9;
    border-bottom-style: solid;
    height: 7.5%;
    width: 100%;
    display: inline-flex;
    margin-bottom: 3%;
}

.logo {
  position: relative;
  top: 13px;
}

.home-area {
    font-family: "Roboto";
    height: 80%;
    /* padding: 20% 25%; */
    padding-left: 7.5%;
    padding-top: 10%;
}

.footer {
    height: 10%;
    padding-top: 7.5%;
}

/* the songwriter graph logo/text */
.welcome {
    display: inline-flex;  
    font-size: 36px; 
    padding-inline: 1%;
    position: relative;
    top: 12px;
    /* margin-top: 15px; */
}

.options {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

/* aka navigation */
.options > div {
    padding: 10%;
    padding-top: 25%;
    display: inline;
}

.About-button, .GitHub-button {
    position: relative;
    top: 33px;
}

.prompt {
    display: block;
    padding-bottom: 2%;
}

.search-box {
    width: 300px;
}

.search-area {
    display: inline-flex;
}

.search-button {
    display: inline-flex;
    height: auto;
    background-color: #BB6BD9;
    color: #ffffff;
}

.search-button:hover, .search-button:focus {
    color: #ffffff
}   

.writer-result {
    padding-top: 35px;
    font-size: 2em;
}

.writer-result:nth-child(3n) {
    color: var(--purple-1);
}

.writer-result:nth-child(3n+1) {
    color: var(--orange-1);
}

.writer-result:nth-child(3n+2) {
    color: var(--green-1);
}

.sub-heading {
    font-style: italic;
    font-size: 2em;
}

li > div {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
}

.rc-hyperlink.noselect {
    color: #000000;
}

.rc-box.display-flex {
    display: inline-flex;
}

.rc-box.display-flex.writer-detail {
    display: block;
    font-size: 3em;
}

.rc-box.display-flex.writer-detail.small {
    display: block;
    font-size: 2em;
}

/* TODO: Would love to make this a "node in a graph" looking, rather than just a circle */
.display-circle {
    background-color: var(--orange-1);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* TODO: I'd like to use something like this for all links as well
 aka, a "consistent focus style" */
 /* https://stackoverflow.com/a/44656484 */
 input[type="text"] {
   background: transparent;
   border: none;
   border-bottom: 1px solid #000000;
   -webkit-box-shadow: none;
   box-shadow: none;
   border-radius: 0;
 }
 
 input[type="text"]:focus {
   -webkit-box-shadow: none;
   box-shadow: none;
 } 

 /* https://loading.io/css/ */
 .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--green-1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

