:root {
    --purple-1: #BB6BD9;
    --orange-1: #F2994A;
    --green-1: #6FCF97;
    --off-white-1: #f6f4f4; 
}

.app {
    height: 100vh;
    background-color: var(--off-white-1);
}

/* the entire header */
.header {
    font-family: "Roboto";
    border-bottom-width: 2px; 
    border-bottom-color: #BB6BD9;
    border-bottom-style: solid;
    height: 7.5%;
    width: 100%;
    display: inline-flex;
}

.home-area {
    font-family: "Roboto";
    height: 80%;
    /* padding: 20% 25%; */
    padding-left: 7.5%;
    padding-top: 10%;
}

.footer {
    height: 10%;
    padding-top: 7.5%;
}

/* the songwriter graph logo/text */
.welcome {
    position: relative;
    display: inline-flex;  
    height: 10%; 
    font: 48px; 
    padding-inline: 1%;
}

.options {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

/* aka navigation */
.options > div {
    padding: 10%;
    padding-top: 25%;
    display: inline;
}

.prompt {
    display: block;
    padding-bottom: 2%;
}

.search-box {
    width: 300px;
}

.search-area {
    display: inline-flex;
}

.search-button {
    display: inline-flex;
    height: auto;
    background-color: #BB6BD9;
    color: #ffffff;
}

.search-button:hover, .search-button:focus {
    color: #ffffff
}   

.writer-result {
    padding-top: 35px;
    font-size: 2em;
}

.writer-result:nth-child(3n) {
    color: var(--purple-1);
}

.writer-result:nth-child(3n+1) {
    color: var(--orange-1);
}

.writer-result:nth-child(3n+2) {
    color: var(--green-1);
}

.sub-heading {
    font-style: italic;
    font-size: 2em;
}

li > div {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
}

.rc-hyperlink.noselect {
    color: #000000;
}

.rc-box.display-flex {
    display: inline-flex;
}

/* TODO: I'd like to use something like this for all links as well
 aka, a "consistent focus style" */
/* #box:focus, 
#box:hover, 
.rc-input-text-inner:hover, 
.rc-input-text-inner:focus {
    border: none;
    border-bottom: 2px solid #F2994A !important;
} */
